<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Show pending items -->
  <ion-text>
    <h1>To-do</h1>
  </ion-text>
  <ng-container *ngFor="let item of database.ITEMS">
    <ng-container>
      <ion-item *ngIf="item.isDone == 0">
        <div item-start>
          <ion-checkbox (click)="toogleIsDone(item.id,0)"></ion-checkbox>
        </div>
        <ion-label>
          <h2><strong>{{ item.name }}</strong></h2>
        </ion-label>
    
        <div class="item-note" item-end>
          <ion-icon color="danger" name="trash" style="zoom:1.3" (click)="remove(item.id)"></ion-icon>
        </div>
      </ion-item>
    </ng-container>
  </ng-container>

  <!-- Show done items -->
  <ion-text>
    <h1>Done</h1>
  </ion-text>
  <ng-container *ngFor="let item of database.ITEMS">
    <ng-container>
      <ion-item *ngIf="item.isDone == 1">
        <div item-start>
          <ion-checkbox checked="true" (click)="toogleIsDone(item.id,1)"></ion-checkbox>
        </div>
        <ion-label>
          <h2><strong>{{ item.name }}</strong></h2>
        </ion-label>
    
        <div class="item-note" item-end>
          <ion-icon color="danger" name="trash" style="zoom:1.3" (click)="remove(item.id)"></ion-icon>
        </div>
      </ion-item>
    </ng-container>
  </ng-container>

  <!-- Add new item -->
  <ion-item>
    <ion-label position="floating">New task</ion-label>
    <ion-input [(ngModel)]="database.name"></ion-input>
  </ion-item>

  <ion-button color="success" expand="block" (click)="createTask()">
    Add Item
  </ion-button>
</ion-content>
